p {
    font-size: 23px;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.border {
    border-color: rgb(66, 66, 66);
    border-width: 5px;
    border-style: solid;
    border-radius: 50%;
}

.smaller-image {
    width: 100px;
}

.navbar {
    overflow: hidden;
    background-color: rgb(85, 85, 85);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
}

.ajuste-titulo {
    margin: 10px;
}