p {
    font-size: 23px;
    font-family: 'Ubuntu Condensed', sans-serif;
}

body {
    background-color: rgb(48, 48, 48);
}

nav {
    display: table;
}

.border {
    border-color: rgb(54, 54, 54);
    border-width: 5px;
    border-style: solid;
    border-radius: 50%;
}

.smaller-image {
    width: 150px;
}

.navbar {
    background-color: #292929;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.ajuste-titulo {
    margin-left: 70px;
    margin-top: 10px;
    text-align: left;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
}